.contacts-main {
  background-color: var(--primary-light-grey);
  width: 100%;
  height: calc(100% - 9.6rem);
  display: flex;
  padding-left: 23.2rem;
}

.add-new-contact-main {
  padding-left: 3.6rem;
  display: flex;
  justify-content: center;
  width: 45.6rem;
  flex-shrink: 0;
  background: #fff;
  box-shadow: 0.4rem 0 0.6rem 0 rgba(0, 0, 0, 0.08);
}

.contact-list {
  display: inline-flex;
  padding: 3.2rem 2.4rem;
  flex-direction: column;
  align-items: center;
  background: #fff;
}

.primary-contact {
  display: flex;
  width: 35.2rem;
  padding: 1.2rem 0;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  border-radius: 1rem;
  border: 0.1rem solid #2a3647;
  background: #2a3647;
  color: #fff;
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 120%; /* 2.52rem */
  cursor: pointer;
}

.primary-contact:hover {
  background-color: #29abe2;
  border: 0.1rem solid #29abe2;
}

.alphabet {
  display: flex;
  padding: 1.7rem 3.6rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.8rem;
  align-self: stretch;
  color: #000;
  font-size: 2rem;
  line-height: 120%; /* 2.4rem */
}

.alphabet-vector-line {
  display: flex;
  padding: 0.8rem 0rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
}

.alphabet-vector-line::before {
  content: "";
  height: 0.1rem;
  background-color: #d1d1d1;
  width: 100%;
}

.contact-container {
  display: flex;
  width: 35.2rem;
  padding: 1.5rem 2.4rem;
  align-items: flex-start;
  gap: 3.5rem;
  border-radius: 1rem;
  background: #fff;
  cursor: pointer;
}

.contact-container:hover {
  background: var(
    --Boton-gradient,
    linear-gradient(180deg, #f9f9f9 0%, #f0f0f0 100%)
  );
}

.contact-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 4.5rem;
  background: #fff;
}

text {
  font-size: 1.2rem;
}

.contact-name {
  color: #000;
  font-size: 2rem;
}

.contact-mail {
  color: #007cee;
  font-size: 1.6rem;
}

.bar {
  width: 2.4rem;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.bar-sign {
  width: 1rem;
  height: 0.4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.contacts-container-right {
  display: flex;
  flex-direction: column;
  padding-top: 11rem;
  padding-left: 5.5rem;
  gap: 3.2rem;
}

.contacts-better-container {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  height: 7.3rem;
  gap: 3rem;
}

.contacts-letter {
  color: #000;
  font-size: 6.1rem;
  font-weight: 700;
  line-height: 120%; /* 7.32rem */
}

.vector-line {
  width: 0.3rem;
  height: 5.9rem;
  background-color: #29abe2;
}

.better-team {
  color: #2a3647;
  font-size: 2.7rem;
  font-weight: 400;
  line-height: 120%; /* 32.4px */
}

/* overlay-add-contact */
.overlay-add-contact {
  position: fixed;
  top: 50%;
  right: -100%;
  transform: translate(50%, -50%);
  display: flex;
  flex-direction: row;
  width: 121.2rem;
  height: 59.2rem;
  background: #fff;
  border-radius: 3rem;
  transition: right 0.3s ease;
}

.overlay-add-contact.show {
  right: 50%;
}

.overlay-container-left {
  display: inline-flex;
  width: 46.7rem;
  height: 59.4rem;
  padding: 6.6rem 4.8rem !important;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.2rem;
  flex-shrink: 0;
  background: #2a3647;
  border-bottom-left-radius: 3rem;
  border-top-left-radius: 3rem;
}

.add-contact-overlay-icon {
  width: 5.56rem;
  height: 6.6483rem;
  /*position: absolute;*/
  left: 4.6904rem;
  top: 15.4rem;
}

.overlay-letter-add-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.8rem;
  color: #fff;
  font-size: 6.1rem;
  font-weight: 700;
  line-height: 120%; /* 7.32rem */
}

.overlay-letters-better {
  color: #fff;
  font-size: 2.7rem;
  font-weight: 400;
  line-height: 120%; /* 3.24rem */
}

.overlay-vectorline-horizontal {
  width: 9rem;
  height: 0.3rem;
  background-color: #29abe2;
}

.overlay-container-right {
  display: inline-flex;
  flex-direction: column;
  width: 74.5rem;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

.overlay-add-contact-container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.2rem;
  padding-top: 13.7rem;
  padding-left: 27.5rem;
}

.overlay-close {
  display: flex;
  width: 3.2rem;
  height: 3.2rem;
  padding: 0.4rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5.6rem;
  padding-left: 66.5rem;
  padding-top: 4.8rem;
}

.oyerlay-close-img {
  background-color: #2a3647;
  border-radius: 5.6rem;
  cursor: pointer;
}

.oyerlay-close-img:hover {
  background-color: #29abe2;
}

.overlay-input-data {
  display: flex;
  width: 42.2rem;
  padding: 1.3rem 2.1rem;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  border: 1px solid #d1d1d1;
  background: #fff;
  line-height: 120%; /* 2.4rem */
}

.overlay-contact-icons {
  width: 2.4rem;
  height: 2.4rem;
  flex-shrink: 0;
  color: #a8a8a8;
}

input {
  width: 100%;
  font-size: 2rem;
  border: none;
}

.cancel-and-create-container {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2.4rem;
  padding-top: 4.8rem;
  padding-left: 27.5rem;
}

.overlay-cancel-button {
  display: flex;
  padding: 1.6rem;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  border-radius: 1rem;
  border: 0.1rem solid #2a3647;
  font-size: 2rem;
  font-weight: 400;
  line-height: 120%; /* 2.4rem */
  cursor: pointer;
}

.overlay-cancel-button:hover {
  background-color: #29abe2;
}

.overlay-create-contact-button {
  display: flex;
  padding: 1.6rem;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  border-radius: 1rem;
  background: #2a3647;
  color: #fff;
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 120%; /* 2.52rem */
  cursor: pointer;
}

.overlay-create-contact-button:hover {
  background-color: #29abe2;
}

.overlay-contact-circle {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 27.5rem;
  height: 59.2rem;
}

.contact-gray {
  border-radius: 7rem;
  border: 0.3rem solid #fff;
  background: #fff;
  box-shadow: 0 0 0.4rem 0 rgba(0, 0, 0, 0.1);
}

.contact-person-white {
  width: 6.4rem;
  height: 6.4rem;
  position: absolute;
}

/* show-contact-details */
.show-contact-details {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.1rem; 
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.3s ease, transform 0.3s ease-in-out;}

.show-contact-details.show {
  /* Setze den Endzustand der Animation, wenn die Klasse "show" hinzugefügt wird */
  opacity: 1;
  transform: translateX(0);
}

.contact-icon-and-name {
  display: flex;
  align-items: center;
  gap: 5.4rem;
}

.contact-icon { 
  border-radius: 7rem;
  border: 0.3rem solid var(--white, #fff);
  background: #fff;
  /* nuevo */
  box-shadow: 0 0 0.4rem 0 rgba(0, 0, 0, 0.1);
}

.contact-initials-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 12rem;
  height: 12rem;
  flex-shrink: 0;
}

.contact-initials {
  display: flex;
  width: 80px;
  height: 28.571px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-size: 4.7rem;
  font-weight: 500;
  line-height: 120%;
}

.contact-name-and-edit-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
}

.details-contact-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  color: #000;
  font-size: 4.7rem;
  font-weight: 500;
  line-height: 120%;
}

.edit-and-delete-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1.6rem;
  cursor: pointer;
}

.edit-container {
  display: flex;   
  gap: 1.3rem;
}

.edit-contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.edit-icon, .delete-icon {
  width: 2.4rem;
  height: 2.4rem;  
}

.edit-text,
.delete-text {
  color: var(--Version-2-main-color, #2a3647);
  font-size: 1.6rem;    
}

.delete-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.contact-information {
  display: flex;
  width: 20.7rem;
  height: 7.4rem;
  flex-direction: column;
  justify-content: center;
  color: #000;
  font-size: 2rem;
  line-height: 120%;
}

.mail-and-phone-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.2rem;
}

.mail-text {
  color: #000;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 120%;
}

.mail-container {
  color: #007cee;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 120%;
}

.phone-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.phone-text {
  color: #000;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 120%;
}

.contact-phone-number {
  color: #000;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 120%;
}
