@media screen and (max-width: 1460px) {
    html {
        font-size: 0.58em;
    }

	#board_content {
		gap: 0.4rem;
	}

	.board-container {
		padding-left: 1.6rem;
		max-width: 111.8rem;
	}

}

@media screen and (max-width: 1280px) {
    html {
        font-size: 0.5em;
    }

	.board-container {
		padding-left: 1.6rem;
		max-width: 100rem;
	}

}

@media screen and (max-width: 1024px) {
    html {
        font-size: 0.425em;
    }

}

@media screen and (max-width: 900px) {
    html {
        font-size: 0.36em;
    }

}

@media screen and (max-height: 700px) {

	.privacy-sidebar {
		padding: 0rem 0rem 0rem 0rem;

	}
}

@media screen and (max-width: 730px) {
    html {
        font-size: 0.36em;
    }

	#board_content {
		flex-direction: column;
		overflow-y: auto;
	}

    .board-container {
        width: 100%;
        margin-left: 0;
        max-width: auto;
        margin-top: 0;
        height: calc(100vh - 4.477rem - 4.608rem - 15.707rem);
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 0rem 1.6rem;
    }
    .board-head {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 4.8rem 0 4rem 0;
        grid-column-gap: 0rem;
        grid-row-gap: 4rem;
    }


    #search_on_task_container {
        display: flex;
        flex-direction: column;
        grid-column: 1/4;
        grid-row: 2;
    }

    #input_section {
         width: auto;
    }

    .mobile-d-none {
        display: none;
    }

    #add_task_button {
		width: auto;
    }

	.column-section {
		width: 100%;

	}

	.task-card {
		max-width: 58.88%;
	}

}
