@media screen and (max-width: 730px) {
    html {
        font-size: 0.6em;
    }
    
    .board-container {
        width: 100%;
        margin-left: 0;
        max-width: auto;
        margin-top: 0;
        height: auto;
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 0rem 1.6rem;
    }

    #input_section {
         width: auto;
    }

    .mobile-d-none {
        display: none;
    }

    #add_task_button {
        width: auto;
    }

    .board-head {
        padding: 4.8rem 0 4rem 0;
    }
}