body {
    margin: 0;
    background-color: rgba(209, 209, 209, 0.5);
}


.main-content-policy {
    display: flex;
    flex-direction: column;
}


.privacy-policy-content {
    
    width: calc(100vw - var(--sidebar-width));
    margin-left: var(--sidebar-width);
    height: calc(100% - 9.6rem);
    display: flex;
    flex-direction: column;
    padding-left: 9.6rem;
}


.privacy-policy-on-login{
    margin: 5rem;
    
}