.main-content-policy {
    display: flex;
    flex-direction: column;
}

.privacy-policy-content {
    padding-right: 9.6rem;
    padding-top: 9.6rem;
    padding-left: calc(9.6rem + var(--sidebar-width));
    padding-top: 9.6rem;
}
