.summary-content {
    width: 100%;
    height: calc(100% - 9.6rem);
    display: flex;
    flex-direction: column;
}

.summary-header-container {
    margin-top: 11rem;
    margin-left: 9.6rem;
    display: flex;
    align-items: center;
    width: 73rem;
    height: 7.3rem;

}

.summary-header-container h1 {
    font-size: 6.8rem;
    font-style: normal;
    font-weight: 700;
    width: 33.4rem;
    height: auto;
}

.summary-header-vert-line {
    background-color: var(--hover-blue);
    height: 5.9rem;
    width: 3px;
    border-radius: 15px;
    margin-left: 3rem;
    margin-right: 3rem;
}

.summary-header-span {
    font-size: 2.7rem;
    font-style: normal;
    font-weight: 400;
    width: 32rem;
    height: 3.2rem;
}

.summary-main-container {
    display: flex;
}