* {
  box-sizing: border-box;
  margin: 0px;
  font-family: "Inter";
}

:root {
  --primary-dark-blue: rgb(42, 54, 71);
  --secondary-dark-blue: rgb(9, 25, 49);
  --primary-grey-sidebar: rgb(205, 205, 205);
  --secondary-grey-sidebar: rgb(168, 168, 168);
  --hover-blue: rgb(41, 171, 226);
  --sidebar-width: 23.2rem;
  --header-height: 9.6rem;
}

html {
  font-size: 0.625em;
}

body {
  font-size: 1.6rem;
}

.d-none {
  display: none !important;
}
