* {
  box-sizing: border-box;
  margin: 0px;
  font-family: 'Inter';
}

html{
  font-size: 0.625em;
}

body{
  font-size: 1.6rem;
}

:root {
  --primary-dark-blue: rgb(42,54,71);
  --secondary-dark-blue: rgb(9,25,49);
  --hover-blue: rgb(41,171,226);
}





