<nav>
    <section>
        <img src="assets/img/join-logo.svg" alt="Join Logo">
        <div>
            <img src="assets/img/summary-icon.svg" alt="Summary Icon">
            <div>Summary</div>
        </div>

        <div>
            <img src="assets/img/add-task-icon.svg" alt="Add Task Icon">
            <div>Add Task</div>
        </div>

        <div>
            <img src="assets/img/board-icon.svg" alt="Board Icon">
            <div>Board</div>
        </div>
        <div>
            <img src="assets/img/contacts-icon.svg" alt="Contacts Icon">
            <div>Contacts</div>
        </div>
    </section>
    <div>
        <div>Privacy Policy</div>
        <div>Legal notice</div>
    </div>
</nav>