<header>
    <div class="header-title">Kanban Project Management Tool</div>
    <div class="user-help-section">
        <img class="header-help-button" src="assets/img/help-icon.svg" alt="Help Icon">
        <div class="header-user-icon" onclick="showSubmenu()">MW</div>
    </div>
</header>
<aside id="sub_menu" class="header-aside hide-header-aside">
    <a class="aside-button" href="#">Legal Notice</a>
    <a class="aside-button" href="#">Privacy Policy</a>
    <a class="aside-button" href="#">Log out</a>
</aside>