<header>
    <div class="header-title">Kanban Project Management Tool</div>
    <div class="user-help-section">
        <a href="help.html"><img class="header-help-button" src="assets/img/help-icon.svg" alt="Help Icon"></a>
        <div class="header-user-icon" onclick="showSubmenu()">MW</div>
    </div>
</header>

<aside id="sub_menu" class="header-aside hide-header-aside">
    <a class="aside-button" href="legal_notice.html">Legal Notice</a>
    <a class="aside-button" href="privacy_policy.html">Privacy Policy</a>
    <a class="aside-button" href="index.html">Log out</a>
</aside>