<nav class="navbar">
    <img class="join-logo-sidebar" src="assets/img/join-logo.svg" alt="Join Logo">
    <section class="menu-sidebar">
        <a class="menu-sidebar-button menu-link" href="#">
            <img src="assets/img/summary-icon.svg" alt="Summary Icon">
            <div>Summary</div>
        </a>

        <a class="menu-sidebar-button menu-link" href="#">
            <img src="assets/img/add-task-icon.svg" alt="Add Task Icon">
            <div>Add Task</div>
        </a>

        <a class="menu-sidebar-button menu-link" href="#">
            <img src="assets/img/board-icon.svg" alt="Board Icon">
            <div>Board</div>
        </a>

        <a class="menu-sidebar-button menu-link" href="#">
            <img src="assets/img/contacts-icon.svg" alt="Contacts Icon">
            <div>Contacts</div>
        </a>
    </section>
    <section class="privacy-sidebar">
        <a class="menu-sidebar-privacy-button" href="#">Privacy Policy</a>
        <a class="menu-sidebar-privacy-button" href="#">Legal notice</a>
    </section>
</nav>