<nav class="navbar">
    <img class="join-logo-sidebar" src="assets/img/join-logo.svg" alt="Join Logo">
    <section class="menu-sidebar">
        <div class="menu-sidebar-button">
            <img src="assets/img/summary-icon.svg" alt="Summary Icon">
            <div>Summary</div>
        </div>

        <div class="menu-sidebar-button">
            <img src="assets/img/add-task-icon.svg" alt="Add Task Icon">
            <div>Add Task</div>
        </div>

        <div class="menu-sidebar-button">
            <img src="assets/img/board-icon.svg" alt="Board Icon">
            <div>Board</div>
        </div>

        <div class="menu-sidebar-button">
            <img src="assets/img/contacts-icon.svg" alt="Contacts Icon">
            <div>Contacts</div>
        </div>
    </section>
    <section class="privacy-sidebar">
        <div class="menu-sidebar-privacy-button">Privacy Policy</div>
        <div class="menu-sidebar-privacy-button">Legal notice</div>
    </section>
</nav>